* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.card {
  width: 500px;
  min-height: 300px;
  border-radius: 14px;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 20px;
}

.title {
  color: hsl(150, 100%, 66%);
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

#advice-id {
  padding-inline-start: 10px;
}

.advice {
  color: hsl(193, 38%, 86%);
  text-align: center;
  padding: 0 10%;
  font-size: 1.5em;
  line-height: 140%;
  margin: 20px 0;
}

.divider {
  width: 100%;
  height: 10px;
  background-image: url("/assets/divider-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
}

.dice {
  position: absolute;
  bottom: -32px;
  border: 0;
  background-color: hsl(150, 100%, 66%);
  padding: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  outline: 0;
}

.dice:hover {
  box-shadow: 0 0 10px 15px hsl(148, 31%, 50%);
}

@media screen and (max-width: 500px) {
  .divider {
    background-image: url("/assets/divider-mobile.svg");
    margin-bottom: 50px;
  }
}
